* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    image-rendering: optimizeSpeed;
    shape-rendering: optimizeSpeed;
    transition-duration: 1s;
    font-family: sans-serif, 'Open Sans', Arial !important;
}

body {
    font-family: sans-serif, 'Open Sans', Arial;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background: linear-gradient(to bottom right, #220021, #3b2736);
    color: #fff;
    padding: 20px;
}

nav {
    background: linear-gradient(to right, #444444, #9b9b9b);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-content {
    background: linear-gradient(to right, #161515, #464646);
    color: #fff;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.header-content h1 {
    font-family: sans-serif, 'Open Sans', Arial;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-content p {
    font-family: sans-serif, 'Open Sans', Arial;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button {
    background-color: #fff;
    border-radius: 25px;
    border: none;
    color: #333;
    cursor: pointer;
    font-family: sans-serif, 'Open Sans', Arial;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    margin: 0 10px;
}

.button:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
    transition-duration: 0, 5s;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.button:active {
    transform: scale(0.9);
}

.background {
    background: linear-gradient(to right, #f7f7f7, #757575);
}

.fonte {
    font-family: sans-serif, 'Open Sans', Arial !important;
  }  

.section {
    padding: 50px 0;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 800px;
}

footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: sans-serif, 'Open Sans', Arial !important;
}

.footer-content {
    max-width: 1px;
    margin: 0 auto;
    text-align: center;
}